@mixin mobile {
    @media (max-width: 500px) {
        @content;
    }
}

.header {
    font-size: 40px;
    min-height: 10vh;
    line-height: 30px;
    border-bottom: 1px solid;
    min-width: 70vw;

    @include mobile {
        padding-top: 20px;
        font-size: 20px;
        line-height: 20px;
    }
}

.search {
    min-height: 10vh;

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 0 10px 0;

        @include mobile {
            flex-direction: column;
            font-size: 15px;

            .input-group {
                flex-direction: column;
            }
        }

        .input-group {
            display: flex;
            flex-wrap: wrap;
            // flex-direction: column;

            .input {
                padding-left: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;

                input {
                    margin-left: 5px;
                    width: 8em;
                    height: 20px;
                }
            }
        }

        .button-group {
            button {
                cursor: pointer;
                margin-left: 10px;
                margin-top: 10px;
                line-height: 10px;
                background-color: rgb(76, 189, 241);
                box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);


            }
        }
    }
}

.weatherCard {
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
        min-height: 25vh;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 25vw;

        @include mobile {
            min-width: 60vw;
        }

        .main {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            font-size: 50px;
            font-weight: 700;
            padding: 10px 0;

            @include mobile {
                font-size: 30px;
            }

            .location {
                font-size: 20px;

                @include mobile {
                    font-size: 15px;
                }
            }
        }

        .element {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                color: rgb(160, 160, 160);
            }

            div {
                font-weight: 500;
            }

            @include mobile {
                line-height: 10px;

                p {
                    font-size: 10px;
                }
            }
        }
    }
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 40vh;
    min-width: 70vw;

    .title {
        border-bottom: 1px solid;
    }

    .table {
        overflow-y: scroll;
        width: 40vw;
        margin: 0 auto;
        margin-top: 10px;

        @include mobile {
            width: 80vw;
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 0px;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 30px;

                .right {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    svg {
                        cursor: pointer;
                        padding-left: 10px;
                    }

                }
            }

        }
    }

}

.error {
    min-height: 30vh;
}